body{
  background-color: #F5F5F5;
}

.header{
  display: flex;
  justify-content: space-between;
  /* margin: 20px; */
  background-color: #CFB5ED;
  margin-bottom: 20px;
}
.nav-items > ul{
  list-style-type: none;
  display: flex;
  font-size: 1.1rem;
}

.nav-items > ul > li{
  padding: 10px;
}
.logo{
  width: 125px;
  padding: 5px;
}

.card{
  width: 200px;
  height: 300px;
  background-color: #E6E2F0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
}

.card > img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.restaurant-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}


